/* CSS */


* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

body {
    background-image: url("img/fundo.jpg");
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}

p {
    text-align: justify;
    color: #DCDCDC;
}

hr {
    margin: 50px 0;
    border: 0;
    margin-bottom: 30px;
  	border-top: 1px solid #1C1C1C;
}

select {
    color: black;
}

/* Cabecalho */

.logo {
    float: left;
    width: 200px;
    height:45px;
    background: url(img/logo.png) center center/230px no-repeat;
}

.cabecalho {
    width: 100%;
    height: 125px;
    float: left;
    padding: 3% 4%;
    margin-bottom: 5px;
    background-color: #1C1C1C;
}

/* Menu */

.nav_menu{
    display: none;
    top: 0%;
    left: 0%;
    width:auto;
    height: 40px;
    line-height: 20px;
    float:right;
    background-color: #1C1C1C;
    display: block !important;
    position: static;
    color: #DCDCDC;
}

 .nav_menu ul{
    width: 100%;
    float: left;
    text-align: center;
 }

 .nav_menu ul li{
    padding: 2%;
    float: left;
    position:relative;
    color: #DCDCDC;
 }

 .nav_menu ul li a{
    color: #DCDCDC;
    font-size: 1em;
    padding:0%;
    margin-left: 1%
 }

 .nav_menu ul li  ul{
 position:absolute;
 top:30px;
 left:0;
 background-color:#1C1C1C;
 display:none;
 }

 .nav_menu ul li a:hover {
    border: none;
    color: white;
    text-shadow:0px 0px 5px #DCDCDC;
 }

 .nav_menu ul li ul li{
    display:block;
    margin-top: 4px;
    width:79px;
    height: 30px;
}
.nav_menu li:hover ul, .menu li.over ul{
    border-radius: 0.3vw;
    display:block;
}

.conteudoMenu{
    width: 25vw; /*unidade que visa associar o valor à largura da tela*/
    margin-left: auto; /*Duas linhas que centralizar um elemento*/
    margin-right: auto;
}

/* ----------------------------------------------------------------------- */
/* CONTEUDO PRINCIPAL MAIN */

.conteudoCentralizado{
    width: 82vw; /*unidade que visa associar o valor à largura da tela*/
    margin-left: 6vw; /*Duas linhas que centralizar um elemento*/
    margin-right: auto;
}

.sobrenos{
    margin-bottom: 10px;
}

.sobrenos h1{
    margin-bottom: 5px;
    font-size: 1.5em;
    font-weight: bold;
}

.listaCategorias h2{
    margin-bottom: 5px;
    font-size: 1.5em;
    font-weight: bold;
}

.listaCategorias li{
  font-size: 1em;
  font-weight: bold;
}

.imagens{
      margin-top: 10px;
}

.imagens img{
    width: 235px;
    height: 360px;
    position: left;
    margin-left: 5px;
    border-radius: 2px;
}

/* ----------------------------------------------------------------------- */
/* RODAPE */

.rodape{
    width: 100%;
    float: left;
    text-align: center;
    padding: 2% 3%;
    background: linear-gradient(to right,#0080ff, #1C1C1C);
}

.rodape h3{
    padding: 1.5%;
    color:rgba(255, 255, 255, 0.7);
}

.rodape h3 strong{
   font-weight:bold;
}

.copyright{
    color:rgba(255, 255, 255, 0.7);
    padding: 1.5%;
    text-align: center;
}
/* ----------------------------------------------------------------------- */
/* FORMULARIO */
.formulario{
  width: 60vw; /*unidade que visa associar o valor à largura da tela*/
  margin-left: auto; /*Duas linhas que centralizar um elemento*/
  margin-right: auto;
  margin-bottom: 130px;
}

.formulario form div input {
    border: 1px solid #000;
    height: 30px;
    width: 92.8%;
    color: black;
    border-radius: 5px;
    margin-left: 10px;
}

.linha{
    margin-bottom: 10px;
}

.formulario textarea{
    border: 1px solid #000;
    width: 100%;
    height: 50px;
    color: black;
}

.botao{
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    color: black;
    float: left;
    width: 80%;
    padding: 1% 1%;
    border-radius: 4px;
}

#nome{
    width: 60%;
    margin-right: 20px;
}

#cidade{
    width: 21%;
}

#selecoes{
    margin-bottom: 10px;
}

.tipo-mensagem{
    float: right;
}
